---
import Social from "./Social.astro";
---

<footer>
    <p>You can find me on:</p>
    <Social platform="github" username="lauraferrandof" />
    <Social platform="linkedin" username="lauraferrandof" />
</footer>
